<!-- CMD에서 실행 명령어:
    : ng serve--open -->
<h2> My Heroes </h2>

<h2>
  selected Hero = {{selected_hero.name }}
</h2>


<ul class="heroes"> <!--  -->
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selected_hero"
      (click)="onSelect(hero)"> <!-- event binding -->
      <span class="badge">
        {{hero.id}}
      </span>
        {{hero.name}}
  </li>
</ul>
<!--
<div *ngIf="selected_hero">
  <h2> {{selected_hero.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{selected_hero.id}}
    <label>
      name:
      <input [(ngModel)]="selected_hero.name" placeholder="name" />
    </label>
  </div>
</div>
    -->
<app-hero-detail [hero]="selected_hero">

</app-hero-detail>
