<!-- CMD에서 실행 명령어:
    : ng serve--open -->
<h2> Heroes List </h2>

<!-- List !!-->
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      {{ hero.name }}
    </a>
  </li>
</ul>  
<!-- 현재 클릭된 hero가 선택된 hero이면
    -> selected CSS를 추가함. -->
<!-- 클릭된 li에 따라 onSelect()함수 호출. -->
 
<!-- detail Element 표시 component -->
<app-hero-detail [hero]="selected_hero">
</app-hero-detail> 
